// Begin footer
footer.footer
  // Begin footer-nav
  .container.container--full
    .flex-container
      p.footer__info
        | Все права на материалы, находящиеся на сайте, охраняются в соответствии с законодательством РФ. При любом использовании материалов сайта, необходимо письменное согласие автора. Обращаем ваше внимание на то, что данный ресурс носит исключительно информационный характер, вся информация предоставлена для ознакомления и не является публичной офертой.
      .footer__links
        a.footer__links-item(href='#') Разработка – Bofer.ru
        .cf
        a.footer__links-item(href='pdf.pdf', target='_blank') Политика конфиденциальности
  // End footer-nav
// End footer
