// Begin header
header.header
  nav.header-nav
    .fixed-row
      a(href="#").logo-container
        img(src='images/logotype.png', alt='')
      .middle-container
        ul.menu-links
          li
            a(href='homepage.html') Главная
          li
            a(href='teh-expertise.html') Техническая экспертиза
          li
            a(href='expertise.html') Экспертиза
          li
            a(href='spisanie.html') Списание
          li
            a(href='utilization.html') Утилизация
          li
            a(href='hawle.html') Hawle
        .phone-container
          a.number(href='#') 8 800 123-45-67
          a.button.open-popup-link(href='#call-popup1') заказать звонок
    .static-row
      ul.menu-links
        li
          a(href='#') Договоры
        li
          a(href='#') Свидетельства и лицензии
        li
          a(href='#') Стандарты и нормативные документы
        li
          a(href='#') Контакты
  .mobile-row
    a(href='#').logo-container
      img(src='images/logotype.png', alt='')
    .nav-icon
      span
      span
      span
      span
// End header
