// Begin header
header.header
  nav.header-nav
    .fixed-row
      .logo-container
        img(src='images/logotype.png', alt='')
      .middle-container
        ul.menu-links
          li
            a(href='#') Главная
          li
            a(href='#') Техническая экспертиза
          li
            a(href='#') Экспертиза
          li
            a(href='#') Списание
          li
            a(href='#') Утилизация
          li
            a(href='#') Hawle
        .phone-container
          a.number(href='#') 8 800 123-45-67
          a.button.open-popup-link(href='#call-popup1') заказать звонок
    .static-row
      ul.menu-links
        li
          a(href='#') Договоры
        li
          a(href='#') Свидетельства и лицензии
        li
          a(href='#') Стандарты и нормативные документы
        li
          a(href='#') Контакты
  .mobile-row
    .logo-container
      img(src='images/logotype.png', alt='')
    .nav-icon
      span
      span
      span
      span
// End header
