// Begin header
header
  nav.header-nav
    .header__fixed-row
      a(href="#").header__logo-container
        img(src='images/logotype.svg', alt='')
      .header__middle-container
        ul.header__menu
          li
            a(href='homepage.html') Главная
          li
            a(href='teh-expertise.html') Техническая экспертиза
          li
            a(href='expertise.html') Экспертиза
          li
            a(href='spisanie.html') Списание
          li
            a(href='utilization.html') Утилизация
          li
            a(href='hawle.html') Hawle
        .header__phone-container
          a.number(href='tel:88001234567') 8 800 123-45-67
          a.button.open-popup-link(href='#call-popup1') заказать звонок
    .header__static-row
      ul.header__menu
        li
          a(href='#') Договоры
        li
          a(href='#') Свидетельства и лицензии
        li
          a(href='#') Стандарты и нормативные документы
        li
          a(href='#') Контакты
  .header__mobile-row
    a(href='#').logo-container
      img(src='images/logotype.svg', alt='')
    .nav-icon
      span
      span
      span
      span
// End header
