#question-popup.white-popup.mfp-hide
  h3.white-popup__title Задайте вопрос и мы Вам перезвоним
  form.form-validation(action='send.php', method='post')
    .error-label-container
      input(type='text', placeholder='Ваше имя', name='name', required='')
    .error-label-container.phone-container
      input(type='text', name='phone', placeholder='Ваш номер телефона', required='')
    textarea(placeholder='Ваш вопрос', name='question-info')
    .error-label-container.error-check
      label.container-checkbox
        | Согласен на обработку 
        a(href='#', target='_blank') персональных данных
        input(type='checkbox', name='personal-info',required)
        span.checkmark
    .box
      input#file-2.inputfile.inputfile-2(type='file', name='file-2[]', data-multiple-caption='{count} files selected', multiple='')
      label(for='file-2')
        span прикрепить файл
    button.button(type='submit') Оставить заявку
#call-popup1.white-popup.mfp-hide
  h3.white-popup__title Оставьте свои данные и мы Вам перезвоним
  form.form-validation(action='send.php', method='post')
    .error-label-container
      input(type='text', placeholder='Ваше имя', name='name', required='')
    .error-label-container.phone-container
      input(type='text', name='phone', placeholder='Ваш номер телефона', required='')
    textarea(placeholder='Ваш вопрос', name='question-info')
    .error-label-container.error-check
      label.container-checkbox
        | Согласен на обработку 
        a(href='#', target='_blank') персональных данных
        input(type='checkbox', name='personal-info',required)
        span.checkmark
    button.button(type='submit') Оставить заявку
#application-popup.white-popup.mfp-hide
  h3.white-popup__title Оставьте заявку
  form.form-validation(action='send.php', method='post')
    .error-label-container
      input(type='text', placeholder='Ваше имя', name='name', required='')
    .error-label-container  
      input(type='email', placeholder='Ваш e-mail', name='email', required='')
    .error-label-container.phone-container
      input(type='text', name='phone', placeholder='Ваш номер телефона', required='')
    textarea(placeholder='Ваш вопрос', name='question-info')
    .error-label-container.error-check
      label.container-checkbox
        | Согласен на обработку 
        a(href='#', target='_blank') персональных данных
        input(type='checkbox', name='personal-info',required)
        span.checkmark
    button.button(type='submit') Оставить заявку
#fiz-popup.white-popup.mfp-hide
  h3.white-popup__title Оставьте заявку на утилизацию
  form.form-validation(action='send.php', method='post')
    .error-label-container
      input(type='text', placeholder='Ваше имя', name='name', required='')
    .error-label-container  
      input(type='email', placeholder='Ваш e-mail', name='email', required='')
    .error-label-container.phone-container
      input(type='text', name='phone', placeholder='Ваш номер телефона', required='')
    textarea(placeholder='Ваш комментарий', name='question-info')
    .error-label-container.error-check
      label.container-checkbox
        | Согласен на обработку 
        a(href='#', target='_blank') персональных данных
        input(type='checkbox', name='personal-info',required)
        span.checkmark
    .box
      input#file-2.inputfile.inputfile-2(type='file', name='file-2[]', data-multiple-caption='{count} files selected', multiple='')
      label(for='file-2')
        span прикрепить файл
    button.button(type='submit') Оставить заявку
#jur-popup.white-popup.mfp-hide
  h3.white-popup__title Оставьте заявку на утилизацию
  form.form-validation(action='send.php', method='post')
    .error-label-container
      input(type='text', placeholder='Ваше имя', name='name', required='')
    .error-label-container  
      input(type='email', placeholder='Ваш e-mail', name='email', required='')
    .error-label-container.phone-container
      input(type='text', name='phone', placeholder='Ваш номер телефона', required='')
    input(type='text', placeholder='example.com')
    input(type='text', placeholder='ИНН')
    textarea(placeholder='Ваш комментарий', name='question-info')
    .error-label-container.error-check
      label.container-checkbox
        | Согласен на обработку 
        a(href='#', target='_blank') персональных данных
        input(type='checkbox', name='personal-info',required)
        span.checkmark
    .box
      input#file-2.inputfile.inputfile-2(type='file', name='file-2[]', data-multiple-caption='{count} files selected', multiple='')
      label(for='file-2')
        span прикрепить файл
    button.button(type='submit') Оставить заявку
#thankPopup.white-popup.mfp-hide
  .popup__grid
    img(src='images/ok-popup.png', alt='')
    .popup__info
      h3.white-popup__title Спасибо
      p Ваша заявка отправлена!
  a.button.mfp-close(href='#') Продолжить
#certificatePopup.white-popup.white-popup--editable.mfp-hide
  img(src='images/certificate.jpg', alt='')
  p Сертификат соответствия 67383
  
