---
title: Homepage
wrapperClass: global_wrapper
---
extends shared/_layout
block content
  
  // Begin wrapper-main
  .head-block
    .container
      h1 Лицензионная компания полного цикла по утилизации  и переработке лома
      p Полностью безотходное и экологичное производство!
      p Переработка отходов по новейшим европейским стандартам
      a.head-block__button.button.open-popup-link(href='#call-popup1') Оставить заявку
  .wrapper-main
    .container.recycle
      .flex-container
        p
          | Переработка отходов - это области, где Ваш личный выбор может изменить ситуацию с проблемой экологии окружающей среды. Обратившись к нам, Вы проявляете заботу о здоровье своих близких, будущем поколении и о чистоте планете.
        img(src='images/image-1.png', alt='')
    .container.container--full.realize
      .container
        h2 Осуществляем
        .flex-container
          .flex-container__item
            p.flex-container__info Полный цикл переработки отходов;
            p.flex-container__number 01
          .flex-container__item
            p.flex-container__info Помощь в оформлении отчетной документации для бухгалтерского учета;
            p.flex-container__number 02
        .flex-container
          .flex-container__item
            p.flex-container__info
              | Обезвреживание и размещение отходов 1-4 классов опасности, образующихся в ходе утилизации.
            p.flex-container__number 03
          .flex-container__item
            p.flex-container__info
              | Консультирование в специфических областях права, а также по проведению мероприятий с использованием сведений, составляющих государственную тайну, по уничтожению информации, учету драгоценных металлов и отчетности;
            p.flex-container__number 04
    .container.container--full.utilization.w-oh
      .container.w-oh
        h2 Переработка и утилизация
        .flex-container
          .flex-container__item
            a(href='#')
              .flex-container__image
                +icon('ico-barcode')
              p.flex-container__info Шифровальная аппаратура
          .flex-container__item
            a(href='#')
              .flex-container__image
                +icon('ico-w-machine')
              p.flex-container__info Бытовая техника
          .flex-container__item
            a(href='#')
              .flex-container__image
                +icon('ico-print')
              p.flex-container__info Оргтехника
          .flex-container__item
            a(href='#')
              .flex-container__image
                +icon('ico-pc')
              p.flex-container__info Электронно-вычислительные машины (ЭВМ)
        .flex-container
          .flex-container__item
            a(href='#')
              .flex-container__image
                +icon('ico-key')
              p.flex-container__info Устройства сбора и ввода информации
          .flex-container__item
            a(href='#')
              .flex-container__image
                +icon('ico-flash')
              p.flex-container__info Носители информации, содержащие служебную тайну
          .flex-container__item
            a(href='#')
              .flex-container__image
                +icon('ico-military')
              p.flex-container__info Военная техника
          .flex-container__item
            a(href='#')
              .flex-container__image
                +icon('ico-magnet')
              p.flex-container__info Другие устройства, содержащие драгоценные и редкие металлы
        .utilization__links
          p.utilization__title Оставить заявку на утилизацию
          .utilization__flex
            a.button.utilization__link.open-popup-link(href='#fiz-popup') Для физических лиц
            a.button.utilization__link.open-popup-link(href='#jur-popup') Для юридических лиц
    .container.container--full.advantages.advantages--main.w-oh
      .container
        h2 Преимущества сотрудничества с «Альфа-Эко»
        ul
          li
            .image-container
              +icon('ico-like')
            p Выполняем работу максимально эффективно и оперативно
          li
            .image-container
              +icon('ico-certificate')
            p Ведем лицензионную деятельность. Есть все документы и разрешения
          li
            .image-container
              +icon('ico-circle')
            p
              | Производственные линии по последним европейским стандартам экологической безопасности
          li
            .image-container
              +icon('ico-docs')
            p Предоставляем полную отчетность организациям, фото-документирование
          li
            .image-container
              +icon('ico-recycle')
            p Безотходное производство. Остается менее 2% шлака. Заботимся об экологии.
      include ../inline-svg/min/logo-a.svg
    .container.container--full.we-propose
      .container
        h2 Мы предлагаем для Вас взаимовыгодные условия
        .we-propose__grid
          .we-propose__grid-item
            .we-propose__image(style='background-image: url(images/li1-1up.jpg);')
            .we-propose__info
              | Переработаем военную и гражданскую технику, оборудование и технологические отходы, содержащие драгоценные металлы.
          .we-propose__grid-item
            .we-propose__image(style='background-image: url(images/li1-2up.jpg);')
            .we-propose__info
              | Оплатим бюджетным и иным организациям-заказчикам на договорной основе стоимость лома драгоценных и редких металлов.
          .we-propose__grid-item
            .we-propose__image(style='background-image: url(images/li1-3up.jpg);')
            .we-propose__info
              | Проведем экспертизу любого имущества на наличие в его составе драгоценных металлов с оформлением экспертного заключения.
          .we-propose__grid-item
            .we-propose__image(style='background-image: url(images/li1-4up.jpg);')
            .we-propose__info
              | Уничтожим и утилизируем носители информации, содержащих служебную, корпоративную, коммерческую, финансовую информацию и...
          .we-propose__grid-item
            .we-propose__image(style='background-image: url(images/li1-5up.jpg);')
            .we-propose__info
              | Переработаем лом черных металлов и цветных металлов - мы принимаем лом целиком без возврата низко рентабельных составляющих.
    .container.container--full.how-we-work
      h2 Как мы работаем
      .how-we-work__grid
        .how-we-work__item
          +icon('ico-phone')
          p Вы звоните или оставляете заявку на сайте
          p.number 01
        .how-we-work__item
          +icon('ico-eye')
          p Мы проводим обследование объекта
          p.number 02
        .how-we-work__item
          +icon('ico-time')
          p Утверждаем график вывоза и сроки на утилизацию
          p.number 03
        .how-we-work__item
          +icon('ico-contract')
          p Заключаем договор и составляем акт списания нерабочей аппаратуры
          p.number 04
        .how-we-work__item
          +icon('ico-ok')
          p
            | Утилизируем или перерабатываем отходы и предоставляем сопроводительную документацию.
          p.number 05
    .container.container--full.pre-footer
      .pre-footer__grid
        .pre-footer__item.pre-footer__item--editable
          h3 Важно знать
          p
            | Электронная техника должна утилизироваться в соответствии с “Методикой проведения работ по комплексной утилизации вторичных драгоценных металлов из отработанных средств вычислительной техники”, утвержденной Государственным Комитетом РФ по телекоммуникациям от 19 октября 1999г. Неправильная утилизация оборудования и техники, то есть простой вынос их на свалку бытовых отходов, существенно загрязняет окружающую среду, а также является нарушением нормативных актов.
        .pre-footer__item
          h3 Остались вопросы?
          .button-container
            a.button.open-popup-link(href='#question-popup') Оставить заявку
            p.button-info Получите бесплатную консультацию.
