---
title: spisanie
wrapperClass: global_wrapper spisanie-page
---
extends shared/_layout
block content

  // Begin wrapper-main
  .head-block.head-block--custom
    .container
      ul.index-page
        li
          a(href='#') Главная
        li
          a(href='#') Утилизация бытовой техники
      h1
        span Списание оборудования
      p ОО «НПО «Альфа-Эко» предлагает услуги по списанию оборудования.
      p
        | Спишем, учитывая требования, подготовим заключение и оформим акт списания с бухгалтерского учета.
  .wrapper-main
    .important.important--spisanie
      .container
        h3 Важно!
        p
          | Процесс списания оборудования и утилизации можно делегировать только лицензированным компаниям, таким как ООО «НПО «Альфа-Эко», чтобы не столкнуться с правовыми проблемами и убытками компании.
    .advantages.advantages--utilization
      .container.container--full
        .container
          .advantages__head
            h2 Почему Альфа-Эко лучший вариант?
          .advantages__grid
            .advantages__item
              .advantages__image
                +icon('ico-certificate')
              p.advantages__info
              | Являемся лицензированной компанией;
            .advantages__item
              .advantages__image
                +icon('ico-truck')
              p.advantages__info
              | Выполняем списание оборудования по всем правилам и требованиям законодательства РФ;
            .advantages__item
              .advantages__image
                +icon('ico-check')
              p.advantages__info 
              | Предоставим заключение и акт списания, оформленные должным образом;
            .advantages__item
              .advantages__image
                +icon('ico-second')
              p.advantages__info
              | Работаем по договору и соблюдаем сроки;
            .advantages__item
              .advantages__image
                +icon('ico-like')
              p.advantages__info
              | Низкая стоимость услуг, за счет высокой автоматизации процессов.
            .advantages__item
          h3
            | В Вашей компании компьютерная, электронная и другая техника учитывается на балансе, и она отслужила свой срок службы или морально устарела?
          .advantages__under--grid
            .advantages__under--item
              p.advantages__under-info
                | Обязательное требование для осуществления утилизации - снятие оборудования с баланса и оформление документов по надлежащей форме. Кроме того, перед списанием должна быть проведена техническая экспертиза техники с целью оформления непригодности и остаточной стоимости оборудования.
              a.button.open-popup-link(href='#application-popup') Заказать списание техники от ООО «НПО «Альфа-Эко»
            .advantages__under--item
              p.advantages__under-info
                | Списание компьютеров и подобной техники – трудоемкий процесс, где важно соблюдать множество нюансов в оформлении различных документов. Только при максимально точном выполнении всех правил у Вас не возникнут проблемы с контролирующими, экологическими и налоговыми органами.
    .footer-complex
      .container.container--full
        h2 Мы поможем Вам правильно осуществить списание оргтехники:
        .footer-complex__grid
          .footer-complex__item
            .footer-complex__image
              +icon('ico-car')
            p.footer-complex__info Наш специалист приедет к Вам в офис;
            p.footer-complex__number 01
          .footer-complex__item
            .footer-complex__image
              +icon('ico-check-list')
            p.footer-complex__info Оформит все необходимые документы;
            p.footer-complex__number 02
          .footer-complex__item
            .footer-complex__image
              +icon('ico-contract')
            p.footer-complex__info
              | Проконсультирует бухгалтера о том, как правильно отразить утилизацию в налоговой отчетности и во внутренней документации компании.
            p.footer-complex__number 03
    .container.container--full.pre-footer.pre-footer--editable
      .pre-footer__grid
        .pre-footer__item
          h2 Делая для всей планеты, заботишься о самых любимых!
          .pre-footer__grid
            .pre-footer__text
              p.pre-footer__info-p
                | Если Вам нужна надежная компания для списания оргтехники и профессиональное оформление надлежащей документации, то обращайтесь в ООО «НПО «Альфа-Эко»
        .pre-footer__item
          h3 Ждем Ваших заявок и вопросов по телефонам
          p.pre-footer__info
            a(href='tel:84742517918') 8 (4742)517-918 
            | или пришлите нам заявку на электронную почту 
            a(href='mailto:info@alfa-eco.pro') info@alfa-eco.pro
          .cf
          .button-container
            a.button.open-popup-link(href='#question-popup') Оставить заявку
            p.button-info Получите бесплатную консультацию.
