---
title: standarts
wrapperClass: global_wrapper standarts-page
---
extends shared/_layout
block content

  // Begin wrapper-main
  .head-block.head-block--custom
    .container
      ul.index-page
        li
          a(href='#') Главная
        li
          a(href='#') Утилизация бытовой техники
      h1
        span
          | Стандарты и нормативные
          br
          | документы
  .wrapper-main
    .documents
      .container
        .documents__grid
          .documents__item
            img(src='images/standart-1.jpg', alt='')
            a(href='#') Федеральный закон РФ № 7-ФЗ от 10.01.2002 «Об охране окружающей среды»
            a(href='#')
              | Федеральный закон РФ № 89-ФЗ от 24.06.1998 «Об отходах производства и потребления»
            a(href='#')
              | Кодекс РФ об Административных правонарушения ст. 8.2 «Несоблюдение экологических и санитарно-эпидемиологических требований при обращении с отходами производства и потребления, веществами, разрушающими озоновый слой, или иными опасными веществами»
          .documents__item
            img(src='images/standart-2.jpg', alt='')
            a(href='#')
              | Федеральный Закон № 41-ФЗ от 26.03.1998 «О драгоценных металлах и драгоценных камнях» (п.2 ст.20)
            a(href='#')
              | Кодекс РФ об Административных правонарушения ст. 19.14 «Нарушение правил извлечения, производства, использования, обращения, получения, учета и хранения драгоценных металлов, драгоценных камней или изделий, их содержащих»
            a(href='#')
              | Постановление Правительства РФ N 731от 28.09.2000г. Об утверждении правил учета и хранения драгоценных металлов, драгоценных камней и продукции из них, а также ведения соответствующей отчетности»
            a(href='#')
              | Инструкция о порядке учета и хранения драгоценных металлов, драгоценных камней, продукции из них и ведения отчетности при их производстве, использовании и обращении, утвержденная Приказом Минфина России от 09.12.2016 №231
          .documents__item
            img(src='images/standart-3.jpg', alt='')
            a(href='#')
              | Налоговый кодекс РФ ст. 120 "Грубое нарушение правил учета доходов и расходов и объектов налогообложения (базы для исчисления страховых взносов)"
          .documents__item
            img(src='images/standart-4.jpg', alt='')
            a(href='#')
              | Уголовный Кодекс РФ ст. 191 «Незаконный оборот драгоценных металлов, природных драгоценных камней или жемчуга», ст. 192 «Нарушение правил сдачи государству драгоценных металлов и драгоценных камней
