---
title: teh-expertise
wrapperClass: global_wrapper
---
extends shared/_layout
block content
  
  // Begin wrapper-main
  .head-block.head-block--custom
    .container
      ul.index-page
        li
          a(href='#') Главная
        li
          a(href='#') Утилизация бытовой техники
      h1
        span Техническая экспертиза для списания
      p
        | ООО «НПО «Альфа-Эко» проводит техническую экспертизу с соблюдением требований и предоставлением надлежащей документации.
  .wrapper-main
    .important.important--teh
      .container.container--full
        .container
          h3 Важно знать
          p
            | Лом и отходы любых организаций могут обрабатываться компаниями, у которых есть на это полномочия, лицензия и сертификат соответствия на осуществление данного вида деятельности, а также процедуру должны проводить обученные и допущенные к выполнению указанного вида работ эксперты-техники
          h3.title--mt70 Такой организацией является ООО «НПО «Альфа-Эко».
          h3 Лучшая в своем сегменте!
          p
            | В соответствии с приказом Федерального агентства по управлению государственным имуществом (Росимущество) №4 от 12.01.2015 г. для списания основных средств (оргтехника, компьютерная, бытовая техника, оборудование) в бюджетных организациях необходимо провести их техническую экспертизу на предмет работоспособности и целесообразности восстановления работоспособности.
          p
            | Чтобы не возникло проблем с контролирующими и налоговыми органами, необходимо провести техническую экспертизу с соблюдением требований в оформлении документов. Наши специалисты выполнят техническую экспертизу, списание, подготовят заключение, оформят акт списания с бухгалтерского учета надлежащим образом.
    .teh-steps
      .container.container--full
        h2 Техническая экспертиза включает в себя следующие этапы:
        .teh-steps__grid
          .teh-steps__item
            .teh-steps__image
              img(src='http://via.placeholder.com/55x55', alt='')
            p.teh-steps__info Подготовка Заказчиком перечня основных средств.
            .teh-steps__number 01
          .teh-steps__item
            .teh-steps__image
              img(src='http://via.placeholder.com/55x55', alt='')
            p.teh-steps__info Подготовка Заказчиком перечня основных средств.
            .teh-steps__number 02
          .teh-steps__item
            .teh-steps__image
              img(src='http://via.placeholder.com/55x55', alt='')
            p.teh-steps__info Подготовка Заказчиком перечня основных средств.
            .teh-steps__number 03
          .teh-steps__item
            .teh-steps__image
              img(src='http://via.placeholder.com/55x55', alt='')
            p.teh-steps__info Подготовка Заказчиком перечня основных средств.
            .teh-steps__number 04
          .teh-steps__item.teh-steps__item--last-child
            h3 Срок подготовки документов и исполнения заказа в ООО «НПО «Альфа-Эко»
            .teh-steps__edit-info
              p.teh-steps__info.teh-steps__info--days 2-3
              p.teh-steps__info
                | рабочих
                br
                | дня
    .examples
      .container.container--full
        .container
          h2 Образцы предоставляемых документов:
          .examples__grid
            a.examples__item(href='#')
              .examples__image
                img(src='http://via.placeholder.com/55x55', alt='')
              p.examples__info Договор на оказание услуг
            a.examples__item(href='#')
              .examples__image
                img(src='http://via.placeholder.com/55x55', alt='')
              p.examples__info Спецификация (Протокол согласования договорной цены)
            a.examples__item(href='#')
              .examples__image
                img(src='http://via.placeholder.com/55x55', alt='')
              p.examples__info Акты дефектации (на каждый инвентарный номер) Акт технической экспертизы
            a.examples__item(href='#')
              .examples__image
                img(src='http://via.placeholder.com/55x55', alt='')
              p.examples__info Сертификаты экспертов-техников, проводивших техническую экспертизу
    .examples.examples--editable
      .container
        .examples__grid
          a.examples__item.examples__item--editable(href='#')
            .examples__image
              img(src='http://via.placeholder.com/55x55', alt='')
            p.examples__info Договор на оказание услуг
          a.examples__item.examples__item--editable(href='#')
            .examples__image
              img(src='http://via.placeholder.com/55x55', alt='')
            p.examples__info Спецификация (Протокол согласования договорной цены)
          a.examples__item.examples__item--editable(href='#')
            .examples__image
              img(src='http://via.placeholder.com/55x55', alt='')
            p.examples__info Акты дефектации (на каждый инвентарный номер) Акт технической экспертизы
    .container.container--full.pre-footer.pre-footer--editable
      .pre-footer__grid
        .pre-footer__item
          h2 Закажите техническую экспертизу техники от ООО «НПО «Альфа-Эко»
          .pre-footer__grid
            .pre-footer__text
              p.pre-footer__info-p
                | Вы поможем Вам правильно всего за 2-3 дня осуществить техническую экспертизу техники. Специалист приедет к Вам в офис, оформит все необходимые документы и проконсультирует должностных лиц о том, как правильно оформить списание техники на основании наших отчетных документов.
              p.pre-footer__info-p
                | Если Вам нужна надежная компания для проведения технической экспертизы техники и  профессиональное оформление надлежащей документации, то обращайтесь в ООО «НПО «Альфа-Эко» по телефону: 8 (4742)517-918,  8 (980)357-35-07 или пришлите нам заявку на электронную почту alfa-eco48@bk.ru
        .pre-footer__item
          h3 Ждем Ваших заявок и вопросов по телефонам
          p.pre-footer__info
            | 8 (4742)517-918 или пришлите нам заявку на электронную почту 
            a(href='mailto:info@alfa-eco.pro') info@alfa-eco.pro
          .cf
          .button-container
            a.button.open-popup-link(href='#question-popup') Оставить заявку
            p.button-info Получите бесплатную консультацию.
