---
title: utilization
wrapperClass: global_wrapper
---
extends shared/_layout
block content

  // Begin wrapper-main
  .head-block.head-block--custom
   .container
     ul.index-page
       li
         a(href='#') Главная
       li
         a(href='#') Утилизация бытовой техники
     h1
       span Утилизация
       |  бытовой техники, оргтехники, средств автоматизации, техники военного назначения и прочих устройств
  .wrapper-main
   .container.container--full.advantages.utilization--top.utilization--top--editable.w-oh
     .container
       h2 Наши преимущества
       ul
         li
           .image-container
             img(src='http://via.placeholder.com/55x55', alt='')
           p Полностью безотходное и экологичное производство;
         li
           .image-container
             img(src='http://via.placeholder.com/55x55', alt='')
           p
             | Производственные линии по последним европейским стандартам экологической безопасности
         li
           .image-container
             img(src='http://via.placeholder.com/55x55', alt='')
           p
             | Предоставляем полную отчетность организациям, при необходимости - фото-документирование
         li
           .image-container
             img(src='http://via.placeholder.com/55x55', alt='')
           p Есть все разрешительные документы и лицензия на осуществление утилизации
         li
           .image-container
             img(src='http://via.placeholder.com/55x55', alt='')
           p Имеем собственный автопарк спецтехники, поэтому сами можем вывезти заказ
         li
           .image-container
             img(src='http://via.placeholder.com/55x55', alt='')
           p
             | Работаем с любым типом отходов и можем переработать практически весь исходный материал
     img.recycle-image(src='images/recycle-2.png', alt='')
   .examples
     .container.container--full
       .container
         h2
           | Делая для всей планеты,
           br
           | заботишься о самых любимых.
         .util-container
           p
             | ООО «НПО «Альфа-Эко» оказывает полный комплекс услуг по списанию, вывозу и утилизации различного оборудования, в том числе:
           a.button.open-popup-link(href='#question-popup') Задать вопрос
         .examples__grid.examples__grid--utilization
           a.examples__item(href='#')
             .examples__image
               img(src='http://via.placeholder.com/55x55', alt='')
             p.examples__info Договор на оказание услуг
           a.examples__item(href='#')
             .examples__image
               img(src='http://via.placeholder.com/55x55', alt='')
             p.examples__info Спецификация (Протокол согласования договорной цены)
           a.examples__item(href='#')
             .examples__image
               img(src='http://via.placeholder.com/55x55', alt='')
             p.examples__info Акты дефектации (на каждый инвентарный номер) Акт технической экспертизы
           a.examples__item(href='#')
             .examples__image
               img(src='http://via.placeholder.com/55x55', alt='')
             p.examples__info Сертификаты экспертов-техников, проводивших техническую экспертизу
   .examples.examples--editable
     .container
       .examples__grid.examples__grid--utilization
         a.examples__item.examples__item--editable(href='#')
           .examples__image
             img(src='http://via.placeholder.com/55x55', alt='')
           p.examples__info Договор на оказание услуг
         a.examples__item.examples__item--editable(href='#')
           .examples__image
             img(src='http://via.placeholder.com/55x55', alt='')
           p.examples__info Спецификация (Протокол согласования договорной цены)
         a.examples__item.examples__item--editable(href='#')
           .examples__image
             img(src='http://via.placeholder.com/55x55', alt='')
           p.examples__info Акты дефектации (на каждый инвентарный номер) Акт технической экспертизы
   .teh-steps
     .container.container--full
       h2 Как начать утилизацию с ООО «НПО «Альфа-Эко»
       .teh-steps__grid.teh-steps__grid--begin-utilization
         .teh-steps__item
           .teh-steps__image
             img(src='http://via.placeholder.com/55x55', alt='')
           p.teh-steps__info
             | Позвоните и оставьте заявку на утилизацию по телефонам: 8 (4742)517-918, 8 (980)357-35-07
           .teh-steps__number 01
         .teh-steps__item
           .teh-steps__image
             img(src='http://via.placeholder.com/55x55', alt='')
           p.teh-steps__info Направьте на электронную почту alfa-eco48@bk.ru
           .teh-steps__number 02
         .teh-steps__item
           .teh-steps__image
             img(src='http://via.placeholder.com/55x55', alt='')
           p.teh-steps__info
             a(href='#') Оставьте заявку
             |  на выезд специалистов для составления за Вас перечня утилизации оборудования по телефону
           .teh-steps__number 03
         .teh-steps__item
           .teh-steps__image
             img(src='http://via.placeholder.com/55x55', alt='')
           p.teh-steps__info
             | Проведем БЕСПЛАТНУЮ экспертизу по содержанию в Вашем оборудовании драгоценных металлов и выдадим экспертное заключение.
           .teh-steps__number 04
         .teh-steps__item
           .teh-steps__image
             img(src='http://via.placeholder.com/55x55', alt='')
           p.teh-steps__info Составим и направим Вам коммерческое предложение по утилизации оборудования. 
           .teh-steps__number 05
         .teh-steps__item
           .teh-steps__image
             img(src='http://via.placeholder.com/55x55', alt='')
           p.teh-steps__info Заключим с Вами договор на утилизацию оборудования.
           .teh-steps__number 06
         .teh-steps__item
           .teh-steps__image
             img(src='http://via.placeholder.com/55x55', alt='')
           p.teh-steps__info Если потребуется, проведем демонтаж оборудования.
           .teh-steps__number 07
         .teh-steps__item
           .teh-steps__image
             img(src='http://via.placeholder.com/55x55', alt='')
           p.teh-steps__info Погрузим и вывезем его к месту проведения работ.
           .teh-steps__number 08
         .teh-steps__item
           .teh-steps__image
             img(src='http://via.placeholder.com/55x55', alt='')
           p.teh-steps__info Разберем, переработаем и утилизируем оборудование.
           .teh-steps__number 09
         .teh-steps__item
           .teh-steps__image
             img(src='http://via.placeholder.com/55x55', alt='')
           p.teh-steps__info Оформим отчетные документы по утилизации и доставим их Вам. 
           .teh-steps__number 10
         .teh-steps__item.teh-steps__item--last-child
           h3 Сроки выполнения работ 
           .teh-steps__edit-info
             p.teh-steps__info.teh-steps__info--days 10
             p.teh-steps__info
               | не более
               br
               | рабочих
               br
               | дней
   .container.container--full.pre-footer
     .pre-footer__grid
       .pre-footer__item
         h3 Важно знать
         p
           | Электронная техника должна утилизироваться с соблюдением требований 
           a(href='#') Федерального закона от 24.06.1998 №89-ФЗ “Об отходах производства и потребления”
           |  в соответствии с “Методикой проведения работ по комплексной утилизации вторичных драгоценных металлов из отработанных средств вычислительной техники”, утвержденной Государственным Комитетом РФ по телекоммуникациям от 19 октября 1999г. Неправильная утилизация оборудования и техники, то есть простой вынос их на свалку бытовых отходов, существенно загрязняет окружающую среду, а также является нарушением нормативных актов.
       .pre-footer__item
         h3 Остались вопросы?
         .button-container
           a.button.open-popup-link(href='#question-popup') Оставить заявку
           p.button-info Получите бесплатную консультацию.
