---
title: utilization-b
wrapperClass: global_wrapper utilization-b
---
extends shared/_layout
block content

  // Begin wrapper-main
  .head-block.head-block--custom
    .container
      ul.index-page
        li
          a(href='#') Главная
        li
          a(href='#') Утилизация бытовой техники
      h1
        span Утилизация бытовой техники
      p
        | Вывезем и утилизируем бытовую технику по европейским стандартам экологической безопасности и привезем сами все отчетные документы
  .wrapper-main
    .container.container--full.advantages.utilization--top.w-oh
      .container
        h2 Почему «НПО «Альфа-Эко»?
        ul
          li
            .image-container
              img(src='http://via.placeholder.com/55x55', alt='')
            h3 Безотходное производство –
            p забота о близких и предотвращение экологической катастрофы
          li
            .image-container
              img(src='http://via.placeholder.com/55x55', alt='')
            h3 Оперативно –
            p
              | приедем в удобное для Вас время, возможен вывоз в день обращения, срок утилизации до 10-ти рабочих дней
          li
            .image-container
              img(src='http://via.placeholder.com/55x55', alt='')
            h3 Выгодно –
            p
              | Вы списываете с баланса старую технику, чтобы не платить за нее налог, с соблюдением закона «Об отходах производства и потребления»
          li
            .image-container
              img(src='http://via.placeholder.com/55x55', alt='')
            h3 Демонтаж –
            p самостоятельно произведем демонтаж, отключим и вынесем технику
      img.recycle-image(src='images/recycle-2.png', alt='')
    .advantages.advantages--utilization
      .container.container--full
        .container
          .advantages__head
            h2 Когда требуется утилизация бытовой техники:
          .advantages__grid
            .advantages__item
              .advantages__image
                img(src='http://via.placeholder.com/55x55', alt='')
              p.advantages__info Моральное старение бытовой техники
            .advantages__item
              .advantages__image
                img(src='http://via.placeholder.com/55x55', alt='')
              p.advantages__info Потеря практической надобности в ее эксплуатации
            .advantages__item
              .advantages__image
                img(src='http://via.placeholder.com/55x55', alt='')
              p.advantages__info Выход из строя
            .advantages__item
              .advantages__image
                img(src='http://via.placeholder.com/55x55', alt='')
              p.advantages__info Истечение срока эксплуатации
            .advantages__item
              .advantages__image
                img(src='http://via.placeholder.com/55x55', alt='')
              p.advantages__info Модернизация производства (совершенствование материально-технической базы)
            .advantages__item
          a.button(href='#') Задать вопрос
          p.advantages__under-info
            | Утилизация бытовой техники будет оформлена и выполнена в соответствии с 
            a(href='#') действующим законодательством
            | , будут предоставлены все отчетные документы. Особенно это важно для юридических лиц, так как они обязаны отчитываться за списание любой числящейся за организацией бытовой техники.
    .container.container--full.pre-footer
      .pre-footer__grid
        .pre-footer__item
          h2 Вышла из строя бытовая техника?
          h3
            | Вам необходимо её утилизировать по всем правилам и с профессионально оформленной документацией?
          .pre-footer__grid
            .pre-footer__text
              p.pre-footer__info-p
                | Самостоятельная утилизация или обращение к переработчикам, не имеющим соответствующие лицензии, свидетельства, сертификаты, может привести к проблемам экономического и правового характера.
              p.pre-footer__info-p
                | Чтобы не возникло проблем с законом, важно поручить утилизацию бытовой техники специалистам ООО «НПО «Альфа-Эко», так как мы имеем право заниматься данной деятельностью, что подтверждено лицензией и сертификатами. В наших полномочиях предоставить Вам все отчетные документы, которые будут отвечать требованиям законодательства.
              p.pre-footer__info-p
                | Обращение к профессионалам ООО «НПО «Альфа-Эко» с целью вывоза и утилизации бытовой техники – это оптимальный вариант, предусматривающий небольшие денежные расходы, которые быстро окупаются результатами.
        .pre-footer__item
          h3 Ждем Ваших заявок и вопросов по телефонам
          p.pre-footer__info
            | 8 (4742)517-918 или пришлите нам заявку на электронную почту 
            a(href='mailto:info@alfa-eco.pro') info@alfa-eco.pro
          .cf
          .button-container
            a.button.open-popup-link(href='#question-popup') Оставить заявку
            p.button-info Получите бесплатную консультацию.
    .footer-complex
      .container.container--full
        h2 Комплексный подход утилизации включает в себя:
        .footer-complex__grid
          .footer-complex__item
            .footer-complex__image
              img(src='http://via.placeholder.com/55x55', alt='')
            p.footer-complex__info
              | Проведение экспертизы технического состояния бытовой техники на целесообразность ее дальнейшей эксплуатации или списания.
            p.footer-complex__number 01
          .footer-complex__item
            .footer-complex__image
              img(src='http://via.placeholder.com/55x55', alt='')
            p.footer-complex__info
              | Оформление результатов экспертизы технического состояния бытовой техники:  акт технического состояния (или техническая экспертиза), расчет-обоснование целесообразности списания (или технико-экономическое обоснование).
            p.footer-complex__number 02
          .footer-complex__item
            .footer-complex__image
              img(src='http://via.placeholder.com/55x55', alt='')
            p.footer-complex__info
              | Утилизация бытовой техники (демонтаж, сбор, транспортировка к месту проведения работ, переработка, получение вторичного сырья).
            p.footer-complex__number 03
