include _mixins
doctype html
html(lang="ru")
  head
    include _head

  body
    // place where pjax bindings happen's
    #barba-wrapper(js-setWrapper class=wrapperClass)
      block header
        include ../components/_header
    
      // what should be changed with every pjax
      .page
        .page__content
          block content
            
          div(js-wrapperToggler class=wrapperClass)

        block footer
          include ../components/_footer
        
      block popups
        include ../components/_popups
      block scripts
        include _scripts
