// INDEX

.input-group
  &.inline-group
    display: inline-block
    vertical-align: middle

.svg-container,
.popupwindow
  display: none

//
.global_wrapper
  // font-family: 'HelveticaNeueCyr-Roman', sans-serif, Arial
  // font-weight: normal
  // font-style: normal
  overflow: hidden
  height: 100%
  width: 100%

.wrapper-main
  // max-width: 1920px;
  // min-width: 1025px;
  width: 100%
  overflow: hidden
  margin: 0 auto
  padding: 0 10px
  &.w-oh
    overflow: visible

.cf
  +cf

.container
  +bs
  +cf
  margin: 0 auto
  overflow: hidden
  max-width: 1190px
  padding-left: 30px
  padding-right: 30px
  width: 100%
  +r(768)
    padding-left: 10px
    padding-right: 10px

  &.w-oh
    overflow: visible

.container--full
  max-width: 1500px

.mfp-fade.mfp-bg
  opacity: 0
  transition: all 0.15s ease-out

.mfp-fade.mfp-bg.mfp-ready
  opacity: 0.8

.mfp-fade.mfp-bg.mfp-removing
  opacity: 0

.mfp-fade.mfp-wrap .mfp-content
  opacity: 0
  transition: all 0.15s ease-out

.mfp-fade.mfp-wrap.mfp-ready .mfp-content
  opacity: 1

.mfp-fade.mfp-wrap.mfp-removing .mfp-content
  opacity: 0

input[type=text],
input[type=email],
textarea
  background: #f2f2f2
  padding: 15px
  color: rgba(0, 0, 0, 0.5)
  font-size: 14px
  line-height: 1.2
  font-weight: 400
  margin: 10px 0
  width: 100%
  display: block
  border: none
  border: 1px solid #f2f2f2
  resize: none

textarea
  min-height: 150px

a
  font-weight: 500
  color: $green
  transition: all .25s $ease
  &:hover
    color: $dark-green

.button
  display: block
  width: 100%
  font-weight: 500
  color: white
  font-size: 16px
  padding: 20px 60px 20px 30px
  background: $button-green
  transition: all .25s $ease
  position: relative
  border: none
  cursor: pointer
  &:hover
    color: white
    background: $button-dark-green
  &:before
    display: block
    content: ''
    position: absolute
    width: 10px
    height: 10px
    border: 2px solid white
    right: 25px
    top: calc(50% - 5px)
    transform: rotate(45deg)
    border-bottom: none
    border-left: none

h1
  font-weight: 700
  color: white
  font-size: 55px
  line-height: 100%
  letter-spacing: -1px
  padding: 0
  margin: 0

h2
  font-weight: 700
  color: black
  font-size: 48px
  line-height: 1.2
  max-width: 750px
  padding: 0
  margin: 0

h3
  font-weight: 700
  color: $dark
  font-size: 30px
  line-height: 1.3
  padding: 0
  margin: 0

ul
  padding: 0

.head-block
  padding: 250px 15px 215px
  background: url(../../images/bg-1.jpg) center center no-repeat
  background-size: cover
  h1
    width: 80%
    margin-bottom: 30px
    line-height: 1.3
  p
    font-weight: 400
    color: white
    font-size: 16px
    line-height: 1.5
  .head-block__button
    margin-top: 50px
    max-width: 240px
    background: $button-dark
    &:hover
      background: $button-green

.recycle
  padding: 20px 35px

  .flex-container
    display: inline-flex
    justify-content: space-between
    align-items: center
  p
    font-size: 22px
    font-weight: 400
    color: $dark
    line-height: 1.5
    width: 55%

.realize,
.utilization
  background: white
  padding: 50px 10px
  h2
    margin: 50px 0 35px
  .flex-container
    display: inline-flex
    justify-content: space-between
    width: 100%
    &__item
      width: 50%
      min-height: 200px
      +bs
      border: 1px solid #f2f0f0
      padding: 30px 50px 30px 30px
      position: relative
      overflow: hidden
      &:nth-child(1)
        border-right: 0
      &:before
        display: block
        content: ''
        +css3-prefix(border-radius, 50%)
        transition: all .25s $ease
        position: absolute
        width: 180px
        height: 180px
        background: $green
        // bottom: -90px;
        // right: -40px;
        bottom: -200px
        right: -200px
        +background-gradient-radial(#82cb1d, #9de833)

    &__info
      color: black
      font-size: 14px
      line-height: 1.5
      font-weight: 400
      position: relative
      z-index: 2
      transition: all .25s $ease
    &__number
      color: #f2f2f2
      font-weight: 700
      transition: all .25s $ease
      position: absolute
      font-size: 58px
      bottom: -14px
      right: 40px
      opacity: 0.7
      line-height: 1
      padding: 0
    &:nth-child(3)
      .flex-container__item
        border-top: 0
    &__item
      &:hover
        .flex-container__image
          img
            filter: none
        &:before
          bottom: -90px
          right: -40px
        .flex-container__number
          color: white
          opacity: 1
.realize
  padding: 50px 10px 10px
.utilization
  padding-bottom: 0
  .container
    margin-bottom: -80px
  .flex-container__info
    margin-top: 45px
.utilization
  .flex-container
    &__image
      min-height: 55px
      min-width: 55px
      position: relative
      z-index: 2
      font-size: 50px
      color: #2b2b2b
    &__info
      margin-top: 65px
    &__item
      padding: 25px
      border-right: none
      // max-height: 210px
      &:last-child
        border-right: 1px solid #f2f0f0
      &:before
        right: auto
        bottom: auto
        left: -150px
        top: -150px
        width: 140px
        height: 140px
      &:hover
        &:before
          right: auto
          bottom: auto
          left: -20px
          top: -20px
        .flex-container__info
          color: $green
          text-decoration: underline
        .flex-container__image
          color: #fff
.utilization__links
  width: calc(100% - 1px)
  padding: 95px 10px 110px
  text-align: center
  background: url(../../images/bg-form.jpg) center center no-repeat
  background-size: cover

.utilization__title
  color: white
  font-weight: 700
  font-size: 24px
  margin-bottom: 30px
  line-height: 1.2

.utilization__flex
  display: inline-flex
  justify-content: space-between
  align-items: center
  max-width: 630px
  width: 100%

.utilization__link
  max-width: 295px
  font-size: 16px
  margin: 0 10px
  &:hover
    background: $button-dark-green

.advantages
  padding: 140px 0
  position: relative
  z-index: 2
  .container
    ul
      display: inline-block
      max-width: 770px
      width: 100%
      margin-top: 70px
      box-sizing: content-box
      li
        display: inline-block
        max-width: 190px

        vertical-align: top
        margin-right: 90px
        &:nth-child(3)
          margin-right: 0
        .image-container
          min-height: 50px
          min-width: 50px
          font-size: 50px
        p
          margin-top: 30px
          font-size: 14px
          line-height: 1.4
          color: black
  .recycle-image
    position: absolute
    right: 0
    bottom: 0
    margin-bottom: -20px
    width: 30%
    path, ellipse, polygon
      fill-opacity: 0
      transition: fill-opacity .6s 1.25s ease-in-out, stroke-opacity .25s 1.6s ease-out
    &.is-visible
      path, ellipse, polygon
        fill-opacity: 1
        stroke-opacity: 0
.advantages--main
  padding: 140px 0
  ul
    padding-left: 0
  .recycle-image
    width: 33%


.we-propose
  background: white
  padding: 120px 10px
  h2
    margin-bottom: 55px
  .we-propose__grid
    display: flex
    flex-wrap: wrap
  .we-propose__grid-item
    width: 50%
    display: flex
  .we-propose__image,
  .we-propose__info
    margin: 0
    font-size: 0
  .we-propose__image
    background-size: cover
    background-position: center center
    background-repeat: no-repeat
  .we-propose__image
    position: relative
    min-width: 255px
    overflow: hidden
  .we-propose__info
    font-size: 14px
    box-sizing: border-box
    border: solid 1px #e7e7e7
    line-height: 1.5
    color: $dark
    padding: 30px
  .we-propose__grid-item:nth-child(n+3)
    .we-propose__info
      border-top: 0

.how-we-work
  padding: 100px 0
  text-align: center

.how-we-work h2
  margin-bottom: 40px
  text-align: center
  width: 100%
  max-width: 100%

.how-we-work__grid
  display: flex

.how-we-work__item
  flex: 1
  border: solid 1px #e7e7e7
  border-right: 0
  padding: 25px 25px 35px 25px
  position: relative
  max-width: 297px
  overflow: hidden
  &:last-child
    border-right: solid 1px #e7e7e7
  &:hover
    p.number
      color: #8ecd35
    svg
      color: #b7df7d
  svg
    font-size: 50px
    margin: 25px auto 50px
  p
    font-size: 14px
    font-weight: 400
    color: $dark
    line-height: 1.4
    text-align: left
  p.number
    position: absolute
    right: 30px
    bottom: -10px
    font-size: 40px
    line-height: 1
    font-weight: 700
    color: #e3e3e4
    transition: all .25s $ease

.pre-footer
  padding: 40px 0

.pre-footer__grid
  display: flex
  width: 100%

.pre-footer__item
  flex: 1
  &:nth-child(1)
    width: 65%
    padding-right: 30px

  &:nth-child(2)
    max-width: 480px

    p
      font-size: 13px
      line-height: 1.3
      padding-top: 14px

.pre-footer__item h3
  margin-bottom: 45px

.pre-footer__item p
  font-size: 16px
  line-height: 1.5
  color: $dark
  width: 90%
.pre-footer__item.pre-footer__item--editable
  p
    line-height: 1.75

.pre-footer__item a.button
  max-width: 235px
  float: left
  margin-right: 30px

// BEGIN input[type=checkbox] popup
.container-checkbox
  display: block
  position: relative
  padding: 5px 0 0 35px
  cursor: pointer
  font-size: 14px
  color: black
  font-weight: 400
  user-select: none
  min-height: 25px
  margin: 20px 0

.container-checkbox a
  color: black
  font-weight: 400
  text-decoration: underline

.container-checkbox input
  position: absolute
  opacity: 0
  cursor: pointer

.checkmark
  position: absolute
  top: 0
  left: 0
  height: 25px
  width: 25px
  background-color: #f2f2f2

.container-checkbox:hover input ~ .checkmark
  background-color: #ccc

.container-checkbox input:checked ~ .checkmark
  background-color: #8ecd35

.checkmark:after
  content: ""
  position: absolute
  display: none

.container-checkbox input:checked ~ .checkmark:after
  display: block

.container-checkbox .checkmark:after
  left: 9px
  top: 4px
  width: 6px
  height: 12px
  border: solid white
  border-width: 0 2px 2px 0
  transform: rotate(45deg)

// END input[type=checkbox] popup
// BEGIN input[type=file] popup
.inputfile
  width: 0.1px
  height: 0.1px
  opacity: 0
  overflow: hidden
  position: absolute
  z-index: -1

.inputfile + label
  max-width: 100%
  font-size: 14px
  font-weight: 500
  color: $green
  white-space: nowrap
  cursor: pointer
  display: inline-block
  overflow: hidden
  margin: 5px 0 20px
  padding: 0
  border-bottom: 2px dashed $green

.inputfile + label i,
.inputfile + label svg
  width: 1em
  height: 1em
  vertical-align: middle
  fill: currentColor
  margin-top: -0.25em
  margin-right: 0.25em

.inputfile:focus + label,
.inputfile.has-focus + label,
.inputfile + label:hover
  color: $button-dark-green

// END input[type=file] popup
// BEGIN hawle-page
.head-block--custom
  padding: 147px 10px 85px
  background: url(../../images/bg-head.jpg) center center no-repeat
  background-size: cover
  min-height: 480px
  h1
    font-size: 48px
    max-width: 990px
    width: 100%
    letter-spacing: -0.5px
    margin-bottom: 30px
    line-height: 1.2
    span
      color: $green
  p
    line-height: 1.5
    font-size: 22px
    max-width: 1070px
    a
      border-bottom: 1px solid $green


// .hawle-page,
// .expertise-page,
// .utilization-b,
// .spisanie-page
.advantages
  // padding: 0
  .container.container--full
    padding: 80px 10px
    background: white
.advantages__head
  display: flex
  align-items: center
  justify-content: space-between
.advantages__grid
  display: flex
  flex-wrap: wrap
  justify-content: space-between
  width: 100%
  margin-top: 40px
.advantages__item
  width: 33.333333333333333%
  border: 1px solid #e7e7e7
  border-right: none
  padding: 25px
  min-height: 200px
  &:nth-child(n+4)
    border-top: 0
  &:last-child
    border: none
    display: flex
    justify-content: center
    align-items: center
    img
      width: 100%
  &:nth-child(3)
    border-left: 0
  &:nth-child(2),
  &:nth-child(3),
  &:nth-child(5)
    border-right: 1px solid #e7e7e7
.advantages--hawle
  padding: 0
  .container
    padding: 0
.advantages.advantages--utilization
  padding: 0
  h2
    max-width: 100%

.advantages--utilization .advantages__info
  margin-top: 45px

.advantages--utilization a.button
  max-width: 275px
  margin: 40px 0

.advantages--utilization h3
  margin: 40px 0
.advantages__image
  max-width: 50px
  max-height: 50px
  font-size: 50px
  color: $dark
.advantages__info
  font-size: 14px
  font-weight: 400
  color: $dark
  margin-top: 65px
  line-height: 1.5
.pre-footer--editable
  margin-top: 50px
  h2
    margin: 15px 0
  .title-nomargin
    margin: 0
  .pre-footer__item
    h2
      max-width: 100%
    .pre-footer__info
      font-size: 16px
      line-height: 1.4
      margin-bottom: 50px
    .pre-footer__info-p
      margin-top: 45px
  .pre-footer__image
    margin: 45px 45px 0 0
.pre-footer__item--ml10
  padding-left: 10%
.pre-footer__info-p
  a
    font-weight: 500
    span
      border-bottom: 1px solid $green
      font-weight: 500
    &:hover
      span
        border-bottom: 1px solid $dark-green
a.download-pdf
  max-width: 275px
  display: inline-block
  &:before
    width: 36px
    height: 20px
    background: url(../../images/pdf.png)
    top: calc(50% - 10px)
    border: none
    transform: rotate(0)

// END hawle-page
.important
  padding: 70px 0
  p
    font-size: 22px
    color: $dark
    margin-top: 50px
    line-height: 1.5

// BEGIN expertise-page
.advantages--expertise
  h3
    margin-bottom: 0
    span
      color: $green
  .advantages__head
    font-size: 22px
    color: $dark
    line-height: 1.5
  .advantages__grid
    margin-bottom: -250px
  .advantages__item
    min-height: 255px
    color: white
    &:last-child
      display: block
      padding: 50px
      width: 66.666666666666667%
      border: 0
      background: $button-green
      .advantages__info
        color: white
        font-size: 16px
  .advantages__info--title
    font-size: 92px
    color: white
    font-weight: 700
    line-height: 1
  .advantages__info
    margin-top: 40px
  .important
    padding: 250px 10px 70px

.registration
  .container--full
    padding: 85px 10px
    background: url(../../images/bg-expertise-form.jpg) center center no-repeat
    background-size: cover
    h2
      color: white
      width: 100%
      max-width: 100%
      margin-bottom: 45px
    .registration__grid
      display: flex
      justify-content: space-between
      align-items: flex-start
    p
      color: white
      font-size: 16px
      line-height: 1.5
    a.button
      max-width: 275px
      margin-left: 50px
      max-height: 55px

ul.index-page
  text-align: left
  display: inline-block
  margin-bottom: 25px
  padding-left: 0
  li
    display: inline-block
    margin-right: 45px
    position: relative
    &:before
      content: '/'
      display: block
      position: absolute
      right: -25px
      font-size: 18px
      color: #fefefe
      opacity: 0.2
      font-weight: 700
    &:last-child
      margin-right: 0
      &:before
        display: none
    a
      font-size: 18px
      color: #fefefe
      opacity: 0.2
      font-weight: 700
      &:hover
        text-decoration: underline

// END expertise-page
// BEGIN utilization-b
.utilization-b
  .pre-footer__item
    h2
      max-width: 100%
      margin-bottom: 25px
    .pre-footer__info
      font-size: 16px
      line-height: 1.4
      margin-bottom: 50px
    .pre-footer__info-p
      margin-top: 25px
    .pre-footer__image
      margin: 45px 45px 0 0

.utilization--top
  &.container
    padding: 60px 0
  .container
    ul
      margin-top: 30px
      padding-left: 0
      li
        width: 37%
        max-width: 330px
        margin: 20px 20px 0 0
        &:nth-child(3)
          margin-right: 20px
        h3
          font-size: 18px
          color: black
          line-height: 1.5
          margin: 25px 0 0 0
        p
          line-height: 1.5
          margin-top: 0
  .recycle-image
    width: 25%
    margin-bottom: 0
    bottom: 60px

.utilization--top--editable
  .container
    ul
      li
        width: 35%
        max-width: 220px
        &:nth-child(3),
        &:nth-child(6)
          margin-right: 0
        p
          margin-top: 25px

.advantages--utilization
  h2
    max-width: 100%

.advantages--utilization .advantages__info
  margin-top: 45px

.advantages--utilization a.button
  max-width: 275px
  margin: 40px 0

.advantages--utilization h3
  margin: 40px 0

.advantages__under--grid
  display: flex
  flex-wrap: no-wrap

.advantages__under--item
  &:first-child
    padding-right: 25px
  &:last-child
    padding-left: 25px
  a.button
    max-width: 100%
    border-bottom: 0
    color: white
    font-weight: 500

.advantages__under-info
  font-weight: 400
  font-size: 22px
  color: $dark
  line-height: 1.5
  width: 90%
  span
    display: inline
    border-bottom: 1px solid $dark

.advantages__under-info a
  color: $dark
  font-weight: 400
  border-bottom: 1px solid #000

.footer-complex
  padding: 60px 0 20px

.footer-complex.footer-complex--editable
  margin-bottom: 40px

.footer-complex h2
  margin-bottom: 60px
  max-width: 100%

.footer-complex__grid
  display: flex
  justify-content: space-between

.footer-complex__item
  width: 33.333333333333333%
  border: 1px solid #e7e7e7
  border-right: none
  padding: 25px
  min-height: 250px
  position: relative
  overflow: hidden
  &:before
    display: block
    content: ''
    +css3-prefix(border-radius, 50%)
    transition: all .25s $ease
    position: absolute
    width: 140px
    height: 140px
    background: $green
    // bottom: -90px;
    // right: -40px;
    bottom: -200px
    right: -200px
    +background-gradient-radial(#82cb1d, #9de833)
  &:hover
    .footer-complex__number
      color: white
    &:before
      bottom: -80px
      right: -20px
  &:last-child
    border-right: 1px solid #e7e7e7

.footer-complex__image
  max-width: 55px
  max-height: 55px
  font-size: 55px

.footer-complex__info
  font-size: 14px
  font-weight: 400
  color: $dark
  margin-top: 50px
  line-height: 1.5
  position: relative
  z-index: 2

.footer-complex__number
  color: rgba(38, 47, 56, 0.1)
  font-weight: 700
  transition: all .25s $ease
  position: absolute
  font-size: 40px
  bottom: -10px
  right: 40px
  // opacity: 0.1;
  line-height: 1
  padding: 0

// END utilization-b
// BEGIN spisanie-page
.spisanie-page
  .footer-complex
    h2
      font-size: 44px

.head-block.head-block--custom.head-block--standarts
  position: relative
  z-index: 1
.documents
  margin-top: -90px
  position: relative
  z-index: 2
  padding-bottom: 40px
// END spisanie-page
.documents__grid
  display: flex
  flex-wrap: wrap
  background: white

.documents__item
  width: 50%
  box-sizing: border-box
  border: 1px solid #e7e7e7
  border-right: 0
  border-bottom: 0
  padding: 30px 35px
  &:nth-last-child(1),
  &:nth-last-child(2)
    border-bottom: 1px solid #e7e7e7
  &:nth-child(even)
    border-right: 1px solid #e7e7e7

.documents__item img
  max-height: 92px
  height: auto
  width: auto
  margin-bottom: 10px

.documents__item a
  display: block
  font-size: 14px
  color: $dark
  font-weight: 400
  padding: 12px 0
  line-height: 1.5
  border-bottom: 1px solid #e7e7e7
  &:last-child
    border-bottom: 0
  span
    display: inline
    border-bottom: 1px solid transparent
    transition: all .25s $ease
  &:hover
    span
      color: $green
      border-color: $green
.contracts-head-info
  margin-bottom: 20px
.documents__item.documents__item--editable
  overflow: hidden
  display: flex
  position: relative
  &:before
    display: block
    content: ''
    +css3-prefix(border-radius, 50%)
    transition: all .25s $ease
    position: absolute
    width: 150px
    height: 150px
    background: $green
    // bottom: -90px;
    // right: -40px;
    top: -200px
    left: -200px
    +background-gradient-radial(#82cb1d, #9de833)
  &:hover
    &:before
      top: -40px
      left: -30px
  svg
    color: $dark
    font-size: 55px
    max-height: 55px
    z-index: 2
  ul
    margin: 0 0 0 60px
.standart__list--item
  display: block
  line-height: 1.4
  a
    padding: 0
    color: $dark
    font-size: 18px
    font-weight: 500
.standart__icon
  position: relative
  z-index: 2;
.documents__item.documents__item--editable
  &:hover
    .standart__icon
      svg
        color: white

.standart__list--info
  font-size: 14px
  color: #383838
  margin-top: 15px
  padding-left: 12px
  position: relative
  &:before
    position: absolute
    display: block
    content: '•'
    font-size: 12px
    color: #383838
    left: 0
    top: 2px


.important.important--teh
  padding: 0
  .container--full
    background: white
    padding: 70px 10px

.important.important--teh p
  font-size: 16px

.title--mt70
  margin-top: 70px

.teh-steps
  padding: 120px 0 60px
  h2
    width: 100%
    max-width: 100%
    margin-bottom: 50px

.teh-steps__grid
  display: flex
  justify-content: space-between
  flex-wrap: wrap

.teh-steps__grid.teh-steps__grid--begin-utilization
  .teh-steps__item
    width: 20%
    &:last-child
      width: 60%
    &:nth-child(5)
      border-right: 1px solid #e7e7e7
    &:nth-child(-n+5)
      border-bottom: 0

.teh-steps__item
  border: 1px solid #e7e7e7
  padding: 20px
  min-height: 250px
  border-right: 0
  box-sizing: border-box
  width: 25%
  position: relative
  overflow: hidden
  &:hover
    .teh-steps__number
      color: $button-green
    .teh-steps__image
      color: #8ecd35

  &:nth-last-child(2)
    border-right: 1px solid #e7e7e7

.teh-steps__item.teh-steps__item--last-child
  border: 0
  width: 75%
  background: white
  align-items: center
  display: flex
  justify-content: space-between
  h3,
  .teh-steps__edit-info
    display: flex

  h3
    width: calc(33% - 30px)

.teh-steps__edit-info
  width: 66%
  justify-content: center
  text-align: left
  color: $button-green
  font-size: 180px
  font-weight: 700
  align-items: center
  padding-right: 50px
  .teh-steps__info
    color: $button-green
    line-height: 1.3
    margin: -20px 0 0 30px
  .teh-steps__info--days
    font-size: 150px
    color: $button-green
    margin: 0
    letter-spacing: -20px
.teh-steps__item.teh-steps__item--last-child.teh-steps__item--editable
  h3
    width: 50%
  .teh-steps__edit-info
    padding-right: 0
    width: 62%
  .teh-steps__info--days
    letter-spacing: 0

.teh-steps__image
  margin: 30px auto
  max-height: 55px
  width: auto
  text-align: center
  font-size: 50px

.teh-steps__info
  font-size: 14px
  color: $dark
  line-height: 1.5

.teh-steps__number
  color: rgba(38, 47, 56, 0.1)
  font-weight: 700
  transition: all .25s $ease
  position: absolute
  font-size: 40px
  bottom: -10px
  right: 40px
  // opacity: 0.1;
  line-height: 1
  padding: 0

.pre-footer--editable
  .pre-footer__item
    h2
      max-width: 100%
    .pre-footer__info
      font-size: 16px
      line-height: 1.4
      margin-bottom: 50px
    .pre-footer__info-p
      margin-top: 45px
    .pre-footer__image
      margin: 45px 45px 0 0

.util-container
  display: flex
  justify-content: space-between
  margin-bottom: 50px
  p
    font-size: 22px
    color: $dark
    font-weight: 400
    line-height: 1.5
    max-width: 50%
  a.button
    max-width: 275px
    max-height: 55px

.examples
  .container--full
    background: white
    padding: 100px 0 0 0
  h2
    max-width: 100%
    margin-bottom: 50px
.examples__top
  padding: 0 10px
.examples__grid
  display: flex
  flex-wrap: no-wrap
  width: 100%

.examples__item
  width: 25%
  box-sizing: border-box
  border: 1px solid #e7e7e7
  border-right: 0
  padding: 30px
  min-height: 200px
  &:last-child
    border-right: 1px solid #e7e7e7
  &:hover
    .examples__info
      color: $button-green
      text-decoration: underline

.examples__item.examples__item--editable
  border-top: 0

.examples__image
  max-height: 55px
  margin-bottom: 50px
  position: relative
  z-index: 2
  font-size: 50px
  color: $dark
.examples__item
  &:hover
    .examples__image
      color: $button-green

.examples__info
  font-size: 14px
  color: $dark
  font-weight: 400
  line-height: 1.5
  transition: all .25s $ease
  cursor: pointer
  position: relative
  z-index: 2

.examples__grid--utilization
  .examples__item
    background: #fff
    position: relative
    overflow: hidden
    &:before
      display: block
      content: ''
      +css3-prefix(border-radius, 50%)
      transition: all .25s $ease
      position: absolute
      width: 150px
      height: 150px
      background: $green
      // bottom: -90px;
      // right: -40px;
      top: -200px
      left: -200px
      +background-gradient-radial(#82cb1d, #9de833)
    &:hover
      &:before
        top: -40px
        left: -30px
      img
        filter: none
      .examples__image
        color: #fff
.map
  margin-top: -180px
  z-index: 2
  overflow: visible
  position: relative
  margin-bottom: 45px
.map__container
  min-height: 600px
  width: 100%
  position: relative
.map__grid
  display: flex
  flex-wrap: wrap
  max-width: 670px
  padding: 0 60px 50px 60px
  background: #fff
  position: absolute
  left: 0
  top: 0
.map__item
  width: 50%
  max-width: 300px
.map__pre-info
  color: #898989
  font-size: 14px
  margin-top: 40px
  margin-bottom: 15px
.map__link-phone
  font-size: 30px
  color: $dark
  font-weight: 700
.map__link-mail
  font-size: 22px
  border-bottom: 1px solid $green
  &:hover
    border-color: $dark-green
.map__item--info
  font-size: 22px
  color: $dark

.mfp-container.mfp-s-ready.mfp-inline-holder,
.mfp-wrap,
.mfp-content
  cursor: url(../../images/cursor.png), auto !important

// END popup
.white-popup
  position: relative
  background: #FFF
  padding: 70px 90px
  width: 100%
  max-width: 550px
  margin: 0px auto
// .mfp-content
//   max-height: 98%
//   height: 100%
//   top: 1%
.white-popup--editable
  max-width: max-content
  padding: 50px 60px
  img
    width: 100%
    height: auto
  p
    font-size: 14px
    color: #000
    margin-top: 30px
.white-popup h3
  margin-bottom: 25px

.white-popup--full-width
  max-width: auto

// END popup
.popup__grid
  justify-content: flex-start
  align-items: center
  display: flex
  img
    margin-right: 25px
  h3
    margin-bottom: 15px
  p
    font-size: 14px
    color: black
    font-weight: 400

.white-popup
  cursor: default
  a.button
    margin-top: 50px
  .error-label-container
    position: relative
    #phone-error,
    #name-error,
    #email-error
      position: absolute
      display: block
      bottom: calc(100% + 7px)
      right: 0
      background: #dd2a1b
      padding: 12px
      color: white
      font-size: 12px
      line-height: 1.4
      max-width: 150px
      &:after
        position: absolute
        display: block
        width: 10px
        height: 10px
        content: ''
        background: #dd2a1b
        bottom: -5px
        right: 15px
        transform: rotate(45deg)
    label.error.valid
      display: none !important
.phone-container
  position: relative
  input
    padding-left: 33px
  &:after
    content: '+7'
    display: block
    position: absolute
    top: 3px
    bottom: 0
    margin: auto
    left: 10px
    padding: 15px 5px
    color: rgba(0, 0, 0, 0.5)
    font-size: 14px
    line-height: 1.2
    font-weight: 400


.white-popup__title
  font-size: 30px
a.button.mfp-close
  color: #fff

button.mfp-close
  background: url(../images/mfp-close.png) center center no-repeat

.mfp-close
  width: 24px
  height: 24px
  line-height: 44px
  position: absolute
  right: 20px
  top: 20px
  opacity: 1
  color: transparent
  font-size: 0
  background: url(../images/mfp-close.png) center center no-repeat
.mfp-close:active
  top: 20px

form input[type=text].error,
form input[type=email].error,
textarea.error
  border-width: 1px !important
  border-color: #dd2a1b !important
  border-style: solid !important
