.ico-attention {
  width: 1.13em;
  height: 1em;
  fill: initial;
}
.ico-barcode {
  width: 1.21em;
  height: 1em;
  fill: initial;
}
.ico-car {
  width: 1.39em;
  height: 1em;
  fill: initial;
}
.ico-certificate {
  width: 0.73em;
  height: 1em;
  fill: initial;
}
.ico-check-list {
  width: 0.79em;
  height: 1em;
  fill: initial;
}
.ico-check {
  width: 1.19em;
  height: 1em;
  fill: initial;
}
.ico-circle {
  width: 1em;
  height: 1em;
  fill: initial;
}
.ico-contract {
  width: 0.68em;
  height: 1em;
  fill: initial;
}
.ico-cyber {
  width: 1em;
  height: 1em;
  fill: initial;
}
.ico-cycle {
  width: 1.19em;
  height: 1em;
  fill: initial;
}
.ico-doc-star {
  width: 0.84em;
  height: 1em;
  fill: initial;
}
.ico-doc {
  width: 0.73em;
  height: 1em;
  fill: initial;
}
.ico-docs {
  width: 0.75em;
  height: 1em;
  fill: initial;
}
.ico-email {
  width: 1.4em;
  height: 1em;
  fill: #FFF;
}
.ico-empty-doc {
  width: 0.73em;
  height: 1em;
  fill: initial;
}
.ico-eye {
  width: 1.55em;
  height: 1em;
  fill: initial;
}
.ico-flash {
  width: 0.84em;
  height: 1em;
  fill: initial;
}
.ico-garbage {
  width: 0.89em;
  height: 1em;
  fill: initial;
}
.ico-half-time {
  width: 1em;
  height: 1em;
  fill: initial;
}
.ico-heart {
  width: 1.07em;
  height: 1em;
  fill: initial;
}
.ico-key {
  width: 1.84em;
  height: 1em;
  fill: initial;
}
.ico-like {
  width: 0.92em;
  height: 1em;
  fill: initial;
}
.ico-logotype {
  width: 3.98em;
  height: 1em;
  fill: initial;
}
.ico-magnet {
  width: 1.05em;
  height: 1em;
  fill: initial;
}
.ico-mail {
  width: 1.23em;
  height: 1em;
  fill: initial;
}
.ico-military {
  width: 1em;
  height: 1em;
  fill: initial;
}
.ico-ok {
  width: 1em;
  height: 1em;
  fill: initial;
}
.ico-pc {
  width: 1.69em;
  height: 1em;
  fill: initial;
}
.ico-phone {
  width: 1em;
  height: 1em;
  fill: initial;
}
.ico-print {
  width: 1em;
  height: 1em;
  fill: initial;
}
.ico-recycle {
  width: 1.03em;
  height: 1em;
  fill: initial;
}
.ico-second {
  width: 0.9em;
  height: 1em;
  fill: initial;
}
.ico-tech {
  width: 1.02em;
  height: 1em;
  fill: initial;
}
.ico-time {
  width: 1em;
  height: 1em;
  fill: initial;
}
.ico-truck {
  width: 1.71em;
  height: 1em;
  fill: initial;
}
.ico-tv {
  width: 1em;
  height: 1em;
  fill: initial;
}
.ico-w-machine {
  width: 0.81em;
  height: 1em;
  fill: initial;
}
